*{margin: 0; padding: 0; box-sizing: border-box;}

/*cabeçalho  */
header{
    background-color: #EDF5F4; /* Alterando a cor atrasves do baground para ficar igual a logo*/
    color: black;
    padding: 30px;
    text-align: center; /*Centralizando a logo*/
    border-bottom: 2px solid gray;
    font-style: italic;
}



/* Main Galeria de produtos */
.container{
    background-color: red;  /*Fundo do site atraves desse comando*/
    min-width: 30vh;
    padding: 50px;
}

fieldset{
    box-shadow: 10px 10px 5px darkred; /* Adicionando shadowbox na intenção de meelhorar o designe*/
}

/* Tênis */
.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    margin-bottom: 10px;
}
p{
    color: #fff;
    font-style: initial;
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: yellow;
    color: black;
    padding: 15px;
    border-radius: 5px;
    font-style: initial;
}
.btn:hover{
    background-color: orange;
}

/* Imagens */
.products-image{
    height: 300px;
    width: 100%;
    bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img1{
    background-image: url('../img/img1.jpg');
}

#img2{
    background-image: url('../img/img2.jpg');
}

#img3{
    background-image: url('../img/img3.jpg');
}

#img4{
    background-image: url('../img/img4.jpg');
}

#img5{
    background-image: url('../img/img5.jpg');
}

#img6{
    background-image: url('../img/img6.jpg');
}

h3{
    margin-bottom: 10px;
    color: black;
    background-color: #fff;
    border-left: 5px solid orange;
    padding-left: 7px;
    font-size: 24px;
}

.bold{
    font-weight: bold;
}


/* rodapé */
footer{
    background-color: white ;
    color: black;
    border-top: 3px solid gray;
    padding: 30px;
}